<%= form_with(model: reparto, local: true) do |form| %>
  <% if reparto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reparto.errors.count, "error") %> prohibited this reparto from being saved:</h2>

      <ul>
      <% reparto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pelicula_id %>
    <%= form.text_field :pelicula_id %>
  </div>

  <div class="field">
    <%= form.label :actor_id %>
    <%= form.text_field :actor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
