<p id="notice"><%= notice %></p>

<p>
  <strong>Pelicula:</strong>
  <%= @reparto.pelicula.titulo %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @reparto.actor.nombre %>
</p>

<%= link_to 'Edit', edit_reparto_path(@reparto) %> |
<%= link_to 'Back', repartos_path %>
