<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @pelicula.titulo %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @pelicula.categoria %>
</p>

<%= link_to 'Edit', edit_pelicula_path(@pelicula) %> |
<%= link_to 'Back', peliculas_path %>
